@import url('https://fonts.googleapis.com/css2?family=Anybody:wght@400;600;700&display=swap');


*{
    list-style: none;
    outline: none;
}
body{
    font-family: 'Anybody', cursive;
    background-image: linear-gradient(to right, #0962DE, #247FFF);
}
formulario{
    display: flex;
}
formulario button{
    height: 3vh;
}
hr{
    border-color: #247FFF;
    margin-bottom: 1vw;
    margin-top: 1vw;
    width: 35vw;
}
.main{
    border-radius: 10px;
    padding: 5px;
    width: 40vw;
    height: auto;
    margin: auto;
    margin-top: 20vh;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.4);
}
.minMax{
    display: flex;
    justify-content: center;
}
.minMax li{
    font-weight: bold;
    font-size: 1.5rem;
    margin-right: 2vw;
    margin-left: 1vw;
}
.condicoesAtuais{
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}

#pesquisar{
    cursor: pointer;
    width: 2vw;
    font-size: medium;
}
#cidade{
    height: 3vh;
    width: 20vw;
}


@media screen and (max-width:900px) {
    .main{
        margin-top: 10vh;
        width: 80vw;
    }
    hr{
        width: 70vw;
        margin-top: 2vh;
    }
    #cidade{
        width: 60vw;
        margin-right: 2vw;
    }
    .minMax{
        padding: 0;
    }
    .condicoesAtuais{
        font-size: 0.8rem;
    }
    .minMax li{
        font-size: 1.5rem;
    }
    #pesquisar{
        width: 5vw;
    }
}